# Copyright 2020 Rainer Gerhards and Others
#
# https://github.com/rsyslog/rsyslog-pkg-ubuntu
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# References:
#
# https://help.github.com/en/github/managing-subscriptions-and-notifications-on-github/configuring-notifications#github-actions-notification-options
# https://github.com/settings/notifications
# https://software.opensuse.org//download.html?project=home%3Argerhards&package=rsyslog


---
name: rsyslog check

on:
  pull_request:

jobs:
  check_run:
    runs-on: ubuntu-20.04
    timeout-minutes: 25

    steps:
      - name: prepare
        run: |
          sudo apt-get update
          sudo apt-get install -y libgnutls28-dev
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv E0C56BD4
          sudo add-apt-repository ppa:adiscon/v8-stable -y
          sudo apt-get update -y
          sudo apt-get install -y \
              libestr-dev \
              libfastjson-dev \
              liblogging-stdlog-dev \
              uuid-dev \
              bison \
              curl \
              default-jdk \
              default-jre \
              faketime libdbd-mysql \
              flex \
              iproute2 \
              libcurl4-gnutls-dev \
              libgcrypt20-dev \
              libglib2.0-dev \
              libgnutls28-dev \
              libgrok1 libgrok-dev \
              libhiredis-dev \
              libkrb5-dev \
              liblz4-dev \
              libmaxminddb-dev libmongoc-dev \
              libmongoc-dev \
              libmysqlclient-dev \
              libnet1-dev \
              libpcap-dev \
              librabbitmq-dev \
              libsnmp-dev \
              libssl-dev libsasl2-dev \
              libsystemd-dev \
              libtokyocabinet-dev \
              libtool \
              libtool-bin \
              logrotate \
              lsof \
              make \
              net-tools \
              pkg-config \
              python-docutils  \
              python3-pip \
              python3-pysnmp4 \
              software-properties-common \
              uuid-dev \
              valgrind \
              wget \
              zlib1g-dev \
              liblognorm-dev

      - name: git checkout project
        uses: actions/checkout@v1

      - name: autoreconf
        run: autoreconf -fvi

      - name: configure
        run: ./configure --libdir=/usr/lib --includedir=/usr/include

      - name: build
        run: |
          make -j

      - name: install
        run: |
          sudo make install

      - name: rsyslog test run
        run: |
          git clone https://github.com/rsyslog/rsyslog.git
          cd rsyslog
          autoreconf -fvi
          ./configure \
                --disable-default-tests \
                --enable-imdiag \
                --enable-omstdout \
                --enable-relp \
                --enable-testbench
          make -j
          cd tests
          make -j8 check
          cd ..

      - name: show error logs (if we errored)
        if:  ${{ failure() || cancelled() }}
        run: |
          cd rsyslog
          devtools/gather-check-logs.sh
          cat failed-tests.log
